:root {
  --panel-background-color: var(--layerz-background, #242424);
  --panel-text-color: var(--layerz-text, #ffffff);
}

body {
  background-color: var(--panel-background-color);
}

.container {
  color: var(--panel-text-color);
}
