{
  "extends": ["react-app", "prettier", "plugin:prettier/recommended"],
  "ignorePatterns": ["**/node_modules/", "build/", "playwright-report/"],
  "globals": {
    "chrome": "readonly",
    "globalThis": "readonly"
  }
}
