{
  "extends": ["react-app", "prettier", "plugin:prettier/recommended"],
  "ignorePatterns": ["**/node_modules/", "build/", "dist/", "src/mainview/shared-link/"],
  "globals": {
    "globalThis": "readonly",
    "Bun": "readonly"
  }
}
